.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    height: 100vh;
    letter-spacing: .15rem;
    text-transform: uppercase;
}

.formInputs {
    align-content: center;
    display: grid;
    flex-wrap: wrap;
    gap: 2rem;
    grid-area: right;
    margin-left: 15%;
    max-width: 50%;
}

.images {
    grid-area: left;
    position: relative;
}

.bgImg {
    position:absolute;
    inset: 0;
    width: 70%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.smallInputs {
    display: flex;
    gap: 1rem;
}