.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "left right";
    height: 100vh;
}

.content{
    grid-area: right;
}

.images{
    display: flex;
    grid-column: left;
    z-index: 10;
    max-height: 100vh;
}

.bgImg {
    flex: 0 1 auto;
    z-index: -10;
}