@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 426px;
  --breakpoint-laptop: 1024px;
  --breakpoint-laptop-lg: 1440px;
}

* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --gray: hsl(212, 12%, 71%);
  --error-color: hsl(0, 24%, 11%);
  --gradient-color: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --light-gray: hsl(270, 3%, 87%);
  --primary-color: hsl(278, 68%, 11%);
  --white: hsl(0, 100%, 100%);
}

body {
  font-size: 18px;
  font-weight: 500;
}